body {
    background-image: ;
    
}

body{	   
	font-family: 'Courgette', cursive;
	font-size: 22px;
    padding: 2rem;
    background: url('../../img/img-login-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;    
    height: 80vh;
    
}

h1, h3 {
    text-align: center;
    margin-top: 2rem;
}

.container {  
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.login-input, .password-input, .btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
     
}

.login-input{
    margin-top: 5rem;
}

.input {
    width: 11rem;
    height: 1.525rem;
    margin: 0.175rem;
}